{{extend "layout.html"}}

{{block nav}}
    {{block menu}}
        {{navigation('home')}}
    {{end}}
{{end}}



{{block content_sidebar}}
<div class="sidebar">
    {{block sub_menu}}
        {{menu('main', 'approve/approve_all', _class="simplemenu")}}
    {{end}}
</div>
{{end}}


{{block content_sidebar}}
{{use "jquery"}}
{{use "jsmenu"}}
{{
menu_items = []
menu_items.append(
    {
    'name': 'approve',
    'title':_('评审单'),
    'subs':[
            {'name':'approve_all', 'title':'全部评审单', 'link': '/approve/list'},
            {'name':'approve_my', 'title':'我发起的评审单', 'link': '/approve/mylist'},
            {'name':'approve_process', 'title':'待处理的评审单', 'link': '/approve/mylist'},
            ]
    },
)
}}  
<div class="sidebar">
    {{block sub_menu}}
    	{{sub_menu(menu_items, 'approve', 'approve_all')}}
    {{end}}
</div>
{{end}}