{{extend "layout.html"}}

{{block menu}}
    {{navigation('redbreast')}}
{{end}}

{{block content_sidebar}}
{{use "jquery"}}
{{use "jsmenu"}}
{{
menu_items = []
menu_items.append(
    {
    'name': 'redbreast',
    'title': '工作流监控',
    'subs':[
            {'name':'workflow', 'title':'工作流列表', 'link': '/redbreast/workflows'},
            {'name':'workflow-task', 'title':'活动列表', 'link': '/redbreast/tasks'},
        ]
    })
}}  
<div class="sidebar">
    {{block sub_menu}}
        {{sub_menu(menu_items, 'redbreast')}}
    {{end}}
</div>
{{end}}

